@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-size:border-box;
}  
body{
     width:100vw;
     height: 500px;
     max-height: 500px;
     background-image:url("body4.jpg");
      background-position: center center;
       background-attachment:fixed;
} 

header{
  background-color:#161523;
    height:500px;
    width:100%;
    padding-bottom:10px;  
    margin: auto;
}
.nav-content{
    width:100%;
    height:70px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:5px 0;
    position:relative;
    border-bottom:2px #ececec solid ;
    z-index:1000;
    position:sticky;
    top:0;
}
.img-logo{
    width:70px;
    height:70px;
    border-radius:50%;
    box-shadow:3px 3px 2px #fff;
    marging-top:3px;
    background-size:100% 100%;}
    center {
    display: table-cell;
    vertical-align: middle;
    padding: 5px ;
    margin: auto;
}
center span{
				color:#ececec;
				font-size:22px;
				margin-bottom: 5px;
}
.ani{
				color:red;
				font-size:46;
}
#b{
    
   
    margin-top:30px;
    box-shadow:0 0 10px 0px rgba(255,000,000,0.3);
    width:80vw;
    height:200px;
    object-fit:cover;
    object-position:0% 25%;
    filter:contrast(70%);
             
}

#name{
    font-size:38px;
    margin-top:10px;
    font-family: 'Orelega One', cursive;
    text-shadow:0 0 5px red;
    color:white;
}
#cursor{
    color:white;
    fon-size:30px;
    }

#span{
   color:white; 
   font-size:38px;
}

.h1-header{
                color:#fff;
                font-family: 'Orelega One', cursive;
                font-size:22px;
                font-width: 700;
                margin-left:2%;            
}
.h2-header{
                color:#fff;
                font-family: 'Orelega One', cursive;
                font-size:25px;
                font-width: 700;
                text-align:center;
                 z-index:1000;
                
}


#btn-menu{
display: none;
} 
.fb-c{
    width: 100%;
    height: 100vh;    

}
.abrir-menu{
    padding: 13px 20px;
    background:#161523 ;  
    padding-top:20px;
    font-family: 'Orelega One', cursive;
    font-weight:400;
color: #fff; 
font-size: 18px;    
cursor: pointer; 
border-radius: 50px; 
box-shadow: 0px 5px 20px rgba(0,100,233,0.4);
position:absolute ;
top:15px ;
right:0;

}
#menu{    
  
top: 0;
left: 0;    
position:absolute ;
z-index: 100;    
background:#161523 ;
transition: all 400ms ease-out;    
width: 0%;    
visibility: hidden;
}
#btn-menu:checked ~ #menu{
width: 100%;    
visibility: visible; 
margin-left: 0px;
}
#menu nav{
margin-left: -150px;
}
#btn-menu:checked ~ #menu nav{ 
margin-left: 0px;
}
#menu nav a{    
display: block;    
color: #ececec;
font-family: 'Orelega One', cursive;
text-decoration: none;
text-align: center;    
font-size: 37px;    
font-weight: 600;
margin-top:60px;
margin-bottom: 30px;
transition: all 300ms ease;
will-change: transform;
}
#menu nav a:hover{    
transform: scale(1.1);
}
#menu label{    
position: absolute;    
top: 10px;    
right: 25px;
color: #fff;    
font-size: 35px;    
cursor: pointer;
}
.overlay{
    width:100%;
    height:500px; 
    position:absolute ;
    background:rgba(0, 0, 0, 0.575);
}

.img-cabecera{
    width:100%;
    height:200px;
   margin:10px auto;
    box-shadow:0 0 2px #fff;
    border-radius: 12px;
    object-fit:cover;
    
}
      /*section index blog*/
 section{
         width:100%;
         height: 800px;
         /*font-family:satisfy;*/
        text-align:center ;
        display:flex;
        flec-wrap:wrap;
        flex-direction:column;
        
         
                         
 }
 .section-div{    
        width: 90%;
        margin: auto ;
        z-index:1000;
 }
       /*div transparencia*/
 .div1{
    width:100%;
    height:800px;
    position: absolute;
    padding:3px 0;
    margin: 0;
    background-color:rgba(128, 10, 255, 0.750);
    z-index:1;
}
 .div2{
    width: 100%;
    height:800px;
    margin: 0;
    position:absolute  ;
     background:rgba(135,29,205, 0.9);
}

 /*de index y blog*/
 .overlay1{
    width: 100%;
    height:800px;
   background-color:rgba(135, 74, 169, 0.9) ;
    position:absolute  ;
    
}
 .section-h3{
         width: 95%;
         color: #002;
         text-align:center ; 
         font-family:satisfy;
         font-size:22px;
         margin-bottom:20px  ;
         z-index:1000;
                 
 }
 .p1{
    color:#000 ;
    font-family: 'Roboto', sans-serif;   
    text-align:left;     
    font-size:20px;
    z-index:1000;
    margin: 13px ;
}

 /*img mas de 300px*/
 .img1-section{
          width: 70%;
          height: 420px;
          margin: 0 auto;
          background-size:100% 100%;
          border-radius: 12px;
         /*  box-shadow:0 3px 0 #777;*/ 
          /* object-fit:cover;*/
            z-index:100;
 }
/*img de 200px*/
  .img-section{
         width:70%;
         height: 200px;
         margin: 0 auto;
         border:2px solido;
         border-radius: 12px;
         background-size:100% 100%;
         /*box-shadow:0 16px 0 #fff; */
        /* object-fit:cover;*/
         z-index:1000;
 }
 .img2-section{
 				width: 150px;
 				height: 150px;
 				border-radius: 50%;
 				margin: 0 auto;
 }
 
 
 /*cards animada*/
 #para{
    /*font-family:satisfy;*/
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    text-align:center ;
    width:100%;
    height: 800px;
    margin: 10px auto;
    
    margin-top:50px;
    margin-bottom:50px;
    padding-top:50px;
padding-bottom:50px;                
 }   
.div-para{
				width: 90%;
				margin: auto;
}  
    
.h1-cards{
    color: #202c2d;
    font-size:28px;
    text-align:center ;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 2px 2px 2px rgba(206,89,55,0);
    z-index:1000;
    margin: 10px auto;
}
.p-para{
       color:#000;
       text-aling:center;
       font-size:18px;
       
       font-family: 'Roboto', sans-serif;        
}

.img-para{
    width:170px;
    height:170px;
    border-radius:50%;
    
    object-fit:cover;
    z-index:1000;
}
 
 
 
 
 
 /*agregados y contacto*/
 
article{
       width:95%;
       height: 2300px;
       font-family:satisfy;
       text-align:center ;
       display:flex;
       flex-wrap:wrap;
       flex-direction:column;
       margin:0 auto;
       z-index:1000; 
               
}
.article-p{
        text-align:center;
        font-size:18px;
        font-family: 'Roboto', sans-serif;
         color:#000;
         z-index:1000;  
}
.b{
    font-size:22px;
    font-family: 'Orelega One', cursive;
     z-index:100;
}
.article-h3{
      font-size:24px;
      margin: 8px;
      color:#000;
      font-family:satisfy;
      text-align:center;
      z-index:100;
}
.aa{
  text-align: center ;
  width: 98%;  
  margin: 10px auto;
  text-decoration: none;
  font-family: 'Dela Gothic One', cursive;
  font-size: 34px;
  border: 2px #fff solid;
  border-radius: 999px;
  color: #fff;
  background: #0052cc;
  z-index:1000;

}
.div-car{
				width: 95%;
				display:flex;
				justify-content:space-between;
}
.img-div-car{
				width: 100px;
				height: 150px;
		  	border-radius:12px ;
		  	z-index:100;
}


       /*footer*/

footer{
    width:100%;
    height:250px ;
    background-color:#161523;
    margin: 5px auto ;
    border-radius:12p
}
.fodiv{
    width:100%;
    display:flex;
    justify-content:center ;
}

#icons .fa-cont{
    display:inline-block ;
    text-align:center ;
    width:45px;
    font-size:30px;
    padding:10px ;
    margin:0 9px;
    border-radius: 5px; 
    background: #fff; 
    box-shadow: inset 8px 8px 15px #ececec, inset -8px -8px 15px #777;
}
.fa-youtube:hover{
    color:#f00;
}
.fa-twitter:hover{
    color:#00aaff;
}
.fa-facebook:hover{
    color:#0000aa;
}
.fa-instagram:hover{
    background:-webkit-linear-gradient(top right,#4f5bd5,#962fbf,#d62976,#fa7e1e,#feda75);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent ;
}
/*.footer{
    flex-direction:column;
    
}*/
.p-footer{
    width:100%;
    color:#ececec;
    margin-top:20px;
    text-aling:center ;
    }
b{
    font-size:18px;
    color:#983;
    margin-left:35%;

}
.pp{
    color:#ececec;
    margin-left:55%;
}
.strong{
    color:#ececec;
}
span, .fa-facebook, .fa-linkedin, .fa-instagram, .fa-youtube{
    color:#161523;
    text-decoration:none;
}

/*slider*/
  
.content{
      width:100%;
      height:350px;
      margin:auto ;
      border:2px #777 solid ;
      border-radius:20px;
      z-index:1000;
  }  
    
   .slider{
       width:100%;
      height:300px;
       margin:auto ;
       overflow:hidden ;
   } 
    .slider ul{
        display:flex;
        padding:0;
        width:400%; 
    animation:cambio 16s infinite alternate;
    }
    
    .slider li{
        width:100%;
        list-style:none ;
    }
    .slider .imag{
        width:100%;
        height: 350px;
        border-radius:20px;
        /*object-fit:cover;*/
        background-size:100% 100%;
    }
@keyframes cambio {
        0%{margin-left:0;}
        20%{margin-left:0;}
        
     25%{margin-left:-100%;}
        45%{margin-left:-100%;}
        
    50%{margin-left:-200%;}
        70%{margin-left:-200%;}
        75%{margin-left:-300%;}
        100%{margin-left:-300%;}
   } 
/*slider2*/
  
.content2{
      width:95%;
      height:200px;
      max-width: 500px;
      max-height: 200px;
      margin:0 auto ;
      border:2px #777 solid ;
      border-radius:20px;
      z-index:1000;
      background-size:70% 100%;
    
  }  
    
   .slider2{
       width:100%;
      /* height:100%;*/
       margin:auto ;
       overflow:hidden ;
       z-index:1000;
   } 
    .slider2 ul{
        display:flex;
        padding:0;
        width:400%; 
    animation:cambio 12s infinite alternate;
    }
    
    .slider2 li{
        width:100%;
        list-style:none ;
    }
    .slider2 .imag2{
        width:100%;
        border-radius:20px;
       / *object-fit:cover;*/
       
       background-size:100% 100% ;
        z-index:1000;
    }
@keyframes cambio {
        0%{margin-left:0;}
        20%{margin-left:0;}
        
     25%{margin-left:-100%;}
        45%{margin-left:-100%;}
        
    50%{margin-left:-200%;}
        70%{margin-left:-200%;}
        75%{margin-left:-300%;}
        100%{margin-left:-300%;}
   } 



/*icono whatsapp*/
.btn-wsp{
    position:fixed ;
    width:55px;
    height:55px;
    line-height:55px;
    bottom:30px;
    right:30px;
    background:#0df053;
    color:#fff;
    border-radius:50%;
    text-align:center ;
    font-size:30px;
    box-shadow:0px 1px 10px rgba(0,0,0,0.3);
    z-index:1000;
}

fa fa-whatsapp:hove{
    text-decoration:none ;
    color:#0df053;
    background:#fff;
}
.icon-whatsapp:before { content: '\f232'; } /* 'ïˆ²' */



.div-blanco{
    width:100%;
    height:2300px;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color:rgba(255, 250, 255, 0.950);
    z-index:1;
}

.imgface{
     width: 200px;
     height: 200px;
    /* background: #fff;*/
     border-radius: 50%;
                font-size:140px;
             margin:0  auto;
             z-index:1000;
}



